doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")  
    title Pokemon Card Collector
    style
      include ../../client/styles/styles.css


  body
    #page
      block content


script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src='../../client/js/script.js')
script(src="https://kit.fontawesome.com/7edf7d6684.js")